@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<html>
<head>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
         </head>
<body
      <div class="well">
    <ul class="nav nav-list">
        <li class="active">@Html.ActionLink("Записать на прием", "AddSchedule", "Schedule")</li>
        <li class="active">@Html.ActionLink("Оформить клиента","AddClient","Client")</li>
        <li class="active">@Html.ActionLink("Оформить питомца", "AddPet", "Pet")</li>
        <li class="active">@Html.ActionLink("Поиск питомцев", "GetPets", "Search")</li>
        </ul>
    </div>
</body>
    </html>