@model VetClinic.Models.Doctor

@{
    ViewBag.Title = "UserLogin";
    Layout = null;
}

@if (Model != null)
{
    if (Model.ConfirmEmail != null)
    {

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(Model.Name, "Index", "Home")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Питомцы на прием в этом месяце", "Index", "Detail")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Оставить запись в карточке", "SelectPetToEntry", "Card")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Выход", "Logout", "Login")</li>
    </ul>
    }
    else
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(Model.Name, "Index", "Home")</li>
        </ul>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Для доступа к функционалу врача необходимо подтверждение администратора", "Index", "Home")</li>
        </ul>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Выход", "Logout", "Login")</li>
        </ul>
    }



}
else
{

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Регистрация", "Register", "Doctor")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Вход", "Index", "Login")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Записаться на прием", "Index", "Entry")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Отзыв", "ChooseDoctor", "Recall")</li>
    </ul>
    


       <!-- <li></li>-->
    
}
