@model VetClinic.Models.ViewModels.DoctorView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>

    <div>


        @using (Html.BeginForm("Register", "Doctor", FormMethod.Post, new
        {
            @class = "formhorizontal"
        }))
        {
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="Name">
                        Name
                    </label>
                    <div class="controls">
                        @Html.ValidationMessage("Name")<br>
                        @Html.TextBox("Name", Model.Name)<br>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Email">
                        Email
                    </label>
                    <div class="controls">
                        @Html.ValidationMessage("Email")<br>
                        @Html.TextBox("Email", Model.Email)<br>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="FirstName">
                        Password
                    </label>
                    <div class="controls">
                        @Html.ValidationMessage("Password")<br>
                        @Html.Password("Password", Model.Password)<br>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="FirstName">
                        Confirm Password
                    </label>
                    <div class="controls">
                        @Html.ValidationMessage("ConfirmPassword")<br>
                        @Html.Password("ConfirmPassword", Model.ConfirmPassword)<br>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>
                        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn" })
                    </div>
            </fieldset>
        }

    </div>
</body>
</html>
